<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375089785404-n0ma9vrgl41rhcn0s238na6sdldpusm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375089785404-n0ma9vrgl41rhcn0s238na6sdldpusm1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>375089785404-s2qe9a8dclmv687nas97osj685iognjr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaCePRJMFizbyzstwlMsTHb507g_cEWo0</string>
	<key>GCM_SENDER_ID</key>
	<string>375089785404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.chatapp</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-86a99</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-86a99.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375089785404:ios:c44a8ed676488411863139</string>
</dict>
</plist>